[Unit]
Description=Omarchy Battery Monitor Timer
Requires=omarchy-battery-monitor.service

[Timer]
OnBootSec=1min
OnUnitActiveSec=30sec
AccuracySec=10sec

[Install]
WantedBy=timers.target